.control-button {
	width: 20px;
	height: 20px;
	background-color: transparent;
	position: relative;
	border: none;
	cursor: pointer;

	@media (min-width: $desktop-width) {
		margin-left: -5px;
	}

	&::before {
		position: absolute;
		content: "";
		width: 10px;
		height: 2px;
		background-color: $basic-dark-blue;
		top: 9px;
		left: 3px;

		@media (min-width: $desktop-width) {
			top: 11px;
			left: 7px;
		}
	}

	&--increase::after {
		position: absolute;
		content: "";
		width: 2px;
		height: 10px;
		background-color: $basic-dark-blue;
		top: 5px;
		left: 7px;

		@media (min-width: $desktop-width) {
			top: 7px;
			left: 11px;
		}
	}

	@media (min-width: $desktop-width) {
		width: 27px;
		height: 27px;
		border: 1px solid transparent;

		&:hover {
			border: 1px solid $basic-light-grey;
			border-radius: 50%;
		}
	}
}