.main-logo {
	&--slider {
		grid-row: 1/2;
		grid-column: 1/-1;
		margin: 24px 16px;
		z-index: 2;

		@media (min-width: $desktop-width) {
			margin: 32px 52px;
		}
	}
}

.main-logo__img {
	@media (min-width: $desktop-width) {
		width: 95px;
		height: 53px;
	}
}