.similar {
	padding: 40px 0 0 0;
}

.similar__list {
	list-style: none;
	margin: 8px 0 0 0;
	padding: 0;

	@media (min-width: $desktop-width) {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
	}
}

.similar__item {
	margin: 0 0 16px 0;
	border-radius: 5px;
	overflow: hidden;

	&:last-child {
		margin: 0;
	}

	@media (min-width: $tablet-width) {
		margin: 0 0 28px 0;
	}

	@media (min-width: $desktop-width) {
		margin: 0;
	}
}

.similar__link {
	position: relative;
	display: block;
}

.similar__text {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	padding: 108px 0 12px 16px;
	background: linear-gradient(to top, $basic-opacity-grey-2, transparent);

	@media (min-width: $tablet-width) {
		padding: 108px 0 18px 16px;
	}

	@media (min-width: $desktop-width) {
		padding: 108px 0 12px 16px;
	}
}

.similar__heading {
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	color: $basic-white;
	display: block;

	@media (min-width: $tablet-width) {
		font-size: 40px;
		line-height: 40px;
	}

	@media (min-width: $desktop-width) {
		font-size: 24px;
		line-height: 24px;
	}
}

.similar__slogan {
	font-size: 14px;
	line-height: 16px;
	color: $basic-white;
	opacity: 0.5;
	display: block;

	@media (min-width: $tablet-width) {
		font-size: 18px;
		line-height: 18px;
	}

	@media (min-width: $desktop-width) {
		font-size: 14px;
		line-height: 16px;
	}
}

.similar__img {
	display: block;

	@media (min-width: $tablet-width) {
		width: 688px;
		height: 287px;
	}

	@media (min-width: $desktop-width) {
		width: 296px;
		height: 160px;
	}
}