$basic-white: #FFFFFF;
$basic-grey: #8A94A6;
$basic-light-grey: #E1E6ED;
$basic-opacity-grey: rgba(53, 41, 37, 0.5);
$basic-opacity-grey-2: rgba(53, 41, 37, 0.22);
$basic-opacity-grey-3: rgba(225, 230, 237, 0.2);
$basic-dark-blue: #192B3F;
$basic-blue: #3D5876;
$basic-beige: #C9B8A8;
$basic-hover-blue: #2E4055;
$basic-active-blue: #3B536D;

$main-font: "Rajdhani",
"Arial",
sans-serif;

$desktop-width: 1360px;
$tablet-width: 720px;